<!DOCTYPE html>
<html>
<head>
	{%load static%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Darshan</title>
</head>
<body>
	<h1><img src="{% static 'img/g.jpg' %}"><a href="gujarat/"> Gujarat</a></h1>
	<h1><img src="{% static 'img/m.jpg' %}"><a href="maharashtra/">Maharashtra</a></h1>
	<h1><img src="{% static 'img/k.jpg' %}"><a href="karnataka/">Karnataka</a></h1>
</body>
</html>